{
  //这是使用@babel/polyfill的配置方法
  "presets": [["@babel/preset-env",{
    // "useBuiltIns"属性值为 "usage"时，会自动引入polyfill，必须保证已经安装了babel-polyfill
    // "useBuiltIns"属性值为 "usage"时，需要添加"corejs"配置项，否则报错
    "useBuiltIns": "usage", //不需要把polly都打包到代码中，根据代码按需转译
    "corejs": 2,  //npm i --save core-js@2
    //"modules": false //关闭 Babel 的模块转换功能，保留原本的 ES6 模块化语法
    //默认是false，取值还可以是 amd, umd, systemjs, commonjs
  }]],
  "plugins": ["@babel/plugin-syntax-dynamic-import"] 
}